table.campaign-config-summary {
  border: 0;
  margin: 0.5em 1em;
}
table.campaign-config-summary tr {
  border: 0;
  background: transparent;
}
table.campaign-config-summary td {
  padding: 0;
}
/* label */
table.campaign-config-summary tr td:first-child {
  font-weight: bold;
  white-space: nowrap;
  padding-right: 1em;
  vertical-align: top;
}
table.campaign-config-summary tr td:first-child:after {
  content: ':'
}
/* icon*/
table.campaign-config-overview > tbody > tr > td:first-child {
  width: 100px;
}

.campaign-config-label .toggle-details:hover {
  text-decoration: none;
}
.campaign-config-label .toggle-details:before {
  content: '\25B8';
  padding-right: 1em;
}
.campaign-config-label .toggle-details.open:before {
  content: '\25BE';
}
.campaign-config-details {
  display: none;
}
table.campaign-config-overview .campaign-config-inactive {
  opacity: 0.5;
}
.campaign-edit-form-column,
.campaign-edit-form-column-three,
.campaign-edit-form-column-three + div,
.campaign-edit-form-column-three + div + div {
  max-width: 250px;
  margin-right: 1em;
  float: left;
}
.campaign-edit-form-column,
.campaign-edit-form-column-three {
  clear: left;
}
.campaign-edit-form-column + div {
  float: left;
}
.campaign-edit-form-add_more {
  clear: left;
}
