.campaign_banner-image-filename {
  max-width: 250px;
  margin-right: 1em;
  float: left;
  clear: left;
}
.campaign_banner-image-filename + div {
  float: left;
}
.campaign_banner-add_more {
  clear: left;
}
.html-snippet-wrapper {
  display: block;
  clear: both;
}
.html-snippet-wrapper textarea {
  margin-top: 1em;
  font-size: 10px;
  width: 100%;
  max-width: 500px;
  height: 100px;
}
